<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Souitch</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <link rel="shortcut icon" type="image/png" href="/images/Logo-bleu.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-light justify-content-between">
      <a class="navbar-brand" href="#">
        <img src="/images/Logo-bleu.png" class="img-fluid" width="200" height="50" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#">Fonctionnalités</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">

      <div class=" row banner">
        <div class="col-12  col-lg-5 img-banner" >
          <img src="/images/2phones.png" class="img-fluid" >
        </div>
        <div class="col-12  col-lg-5 text-banner">
          <h1>Souitch. Plus
            <div id="arguments">
              <span class="argument"> de courses</span>
              <span class="argument"> de sécurité</span>
          </div>
          </h1>
          <p>Automatisez la prise en charge des courses en étant connecté à plusieurs plateformes.</p>
          <br><br>
          <p>Recevoir un email lorsque l'appli est disponible:</p>
          <!-- Begin MailChimp Signup Form -->

          <div id="mc_embed_signup">
          <form action="https://souitchapp.us17.list-manage.com/subscribe/post?u=eb59c9c2da25639ccdf154dda&amp;id=8e268601aa" method="post" id="mc-embedded-subscribe-form" style="padding: 0; width: 80%;" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
            	<label for="mce-EMAIL"> Adresse Email </label>
            	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
          	<div id="mce-responses" class="clear">
          		<div class="response" id="mce-error-response" style="display:none"></div>
          		<div class="response" id="mce-success-response" style="display:none"></div>
          	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_eb59c9c2da25639ccdf154dda_8e268601aa" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Envoyer" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color: #23A6D9;"></div>
            </div>
          </form>
          </div>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row col-12 part2 text-center">
        <div class="col-12">
          <h3>Fonctionnalités</h3>
          <img class="img-features img-fluid" src="/images/3phones.png" />
          <h6 style="text-align: center;">"Switchez" d'une plateforme à l'autre sans toucher votre écran. Choisissez les courses qui seront acceptées et refusées automatiquement.</h6>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row footer">
        <div class="col-12 col-md-4" id="logo-footer">
          <img src="/images/Logo-bleu.png"  class="img-fluid" width="500" height="150"  alt="">
        </div>
        <div class="col-12 col-md-4" id="souitch">
          <a href="/images/CGU.pdf" class="link-footer">CGU</a>
          <a href="#" class="link-footer">Mentions légales</a>
        </div>
        <div class="col-12 col-md-4" id="reseaux">
          <a href="https://www.facebook.com/Souitch-771280413082371/"><img src="/images/facebook-logo.svg" class="social img-fluid" /></a>
          <a href="#"><img src="/images/instagram.svg" class="social img-fluid" /></a>
        </div>
        <p class="col-12" style="text-align: center; margin-bottom: none;">Souitch copyright 2018</p>
      </div>
    </div>

    <script type="text/javascript" src="./javascripts/script.js"></script>
  </body>
</html>
